.report__btns__container{
    border-collapse: collapse;
    box-sizing: border-box;
    display: table-cell;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    text-size-adjust: 100%;
    vertical-align: middle;
    -webkit-border-horizon: 0px;
    -webkit-border-vertical: 0px;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
}

.td__btns{

}
