.nav__button{
    border-radius: 1em 0em 0em 1em;
    width: 104%;
    margin-left: -8px;
    border: 0;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    margin-bottom: 4px;
    transition: 0.3s;
    background-color: #F5F8FA;
}

.nav__button:hover{
    background-color: #338df1;
    color: white;
}

.nav__button:focus{
    background-color: #0070ed;
    color: white;
}