
.login__form__container{
    padding: 30px 40px 20px 40px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    position:absolute;
    margin-top: 8%;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
    top: 20%;
    left: 40%;
    margin-top: -40px;
    margin-left: -40px;
}

.home__background{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.current__password__input{
    position: absolute;
    width: 344px;
    height: 48px;
    left: 0px;
    top: 160px;

    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;

    padding-left: 8px;
}

.current__password__eye__image{
    position: absolute;
    left: 300px;
    width: 25px;
    height: 20px;
    right: 6.29%;
    top: 173px;
    bottom: 17.8%;
    cursor: pointer;
}

.conf__password__input{
    position: absolute;
    width: 344px;
    height: 48px;
    left: 0px;
    top: 240px;

    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;

    padding-left: 8px;
}

.conf__password__eye__image{
    position: absolute;
    left: 300px;
    width: 25px;
    height: 20px;
    right: 6.29%;
    top: 253px;
    bottom: 17.8%;
    cursor: pointer;
}

.new__password__input{
    position: absolute;
    width: 344px;
    height: 48px;
    left: 0px;
    top: 320px;

    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;

    padding-left: 8px;
}

.new__password__eye__image{
    position: absolute;
    left: 300px;
    width: 25px;
    height: 20px;
    right: 6.29%;
    top: 333px;
    bottom: 17.8%;
    cursor: pointer;
}

.new__password__label{
    position: absolute;
    width: 65px;
    height: 17px;
    left: 6px;
    top: 297px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;

    color: #333333;
}

.cancel__button{
    background: white;
    border-radius: 10px;
    color:black;
    font-weight: bold;
    width:344px;
    height: 48px;
    font-size: 16px;
    border: 0px;
    margin-top: 15px;
}