.switchBtn {
    position: relative;
    display: inline-block;
    height: 34px;
    margin-top: 15px;
    margin-left: 15px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    padding-left: 10px;
    margin-left: 80px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 34px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}

.editMode__text{
    width: 100px;
    font-size: 15px;
}

.yyy{
    background: #FFCA42;
    
  }

.ggg{
    background: #7BD36D;
}

.bbb{
    background: #99C6F8;
    
}

.lll{
    background-color: #94DCAA;
}


.ddd{
    background-color: lightgray;
    font-weight: bold;
}

.www{
    background-color: white;
}

.connected__panel{
    height: 200px;
    border: 1px solid red;
    padding: 50px;
    padding-top:70px;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
}

.connected__text{
    font-size: 22px;
}