.upload__button{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    background-color: #6B9DBB;
}
.popUp__container{
    margin-left: 40px;
    margin-right: 40px;
}

.popUp__title{
    margin-top: 20px;
}

.popUp__subtitle{
    margin-top:130px;
    font-size: 18px;
}

.popUp__label_master{
    float: left;
    padding: 3px 3px 3px 3px;
    background-color: #17A2B8;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

.popUp__label_clean{
    float: left;
    padding: 3px 3px 3px 3px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: bold
}

.popUp__label_zip{
    float: left;
    padding: 3px 3px 3px 3px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 3px 3px 3px 3px;
    margin-top: 10px;
    margin-right: 76px;
    font-weight: bold
}

.chooseFile__container{
    padding-top: 7px;
    padding-left: 7px;
    border: 1px solid black;
    float: left;
    width:350px;

}

.popUp__superior__container{
    margin-left: 70px;
    margin-top: 40px;
    background-color: turquoise;
}

.popUp__inferior__container{
    margin-top: 5px;
    margin-left: 70px;
    float: center;
}

.popUp__inferior__container2{
    margin-left: 70px;
    margin-top: 65px;
    float: center;
}

.popUp__warning__title{
    margin-top: 260px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: yellow;
    font-weight: bold;
}

.popUp__warning__subtitle{
    padding-left: 10%;
    padding-right: 10%;
    background-color: yellow;
}

.popUp__buttons__container{
    margin-top: 30px;
    text-align: right;
    margin-right: 40px;
}

.dnd__container{
    margin-top: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    height:250px;
}

