.action__btn{
    margin-right:10px;
    margin-left:10px;
    width: 110px;
    height:35px;
    background-color: white;
    border-radius: 1em 1em 1em 1em;
    font-size: 14px;
    transition: 0.3s;
    border: none;
}

.action__btn:hover{
    background-color: #d4f1dd;
}

.action__btn:hover:active{
    background-color: #94dcaa;
  }