.trays__navBtns{
    border-radius: 1em 0em 0em 1em;
    width: 102%;
    margin-left: -4px;
    border: 0;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    margin-bottom: 4px;
    transition: 0.3s;
    background-color: #F5F8FA;
}

.trays__navBtns:hover{
    background-color: #338df1;
    color: white;
}

.trays__navBtns:focus{
    background-color: #0070ed;
    color: white;
}