.home__background{
    background-image: url("../../assets/images/refinery3.png");
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}