.alert__success{
    zoom: 0.8;
    position: fixed;
    display: flex;
    width: 841px;
    height: 93px;
    background: #7BD36D;
    border-radius: 8.2397px;
    left:50%;
    margin-left: -420.5px;
    margin-top: 80px;
}


.alert__error{
    zoom: 0.8;
    position: fixed;
    display: flex;
    width: 841px;
    height: 93px;
    background: #FF3358;
    border-radius: 8.2397px;
    left:50%;
    margin-left: -420.5px;
    margin-top: 80px;
}

.alert__warning{
    zoom: 0.8;
    position: fixed;
    display: flex;
    width: 841px;
    height: 93px;
    background: #FFCA42;
    border-radius: 8.2397px;
    left:50%;
    margin-left: -420.5px;
    margin-top: 80px;
}

.alert__qtracker{
    zoom: 0.8;
    position: fixed;
    display: flex;
    width: 841px;
    height: 93px;
    background: #7BD36D;
    border-radius: 8.2397px;
    left:50%;
    margin-left: -420.5px;
    margin-top: 30px;
    z-index: 99999;
}

.alert__icon{
    zoom: 0.8;
    position: absolute;
    width: 74.98px;
    height: 74.98px;
    float: left;
    margin-top: 7px;
    margin-left: 25px;
    margin-right: 10px;
}

.alert__title{
    zoom: 0.8;
    float:left;
    width: 83.62px;
    height: 24.72px;

    font-style: normal;
    font-weight: bold;
    font-size: 20.5993px;
    line-height: 25px;


    color: #FFFFFF;
}

.alert__text{
    zoom: 0.8;
    float:left;
    width: 600px;
    height: 28.01px;
    margin-top:7px;
    margin-left:-14px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;


    color: #FFFFFF;

}

.text__alert__container{
    zoom: 0.8;
    float: left;
    height: 50px;
    margin-left: 100px;
    margin-top: 17px;
    width:200px
}

.alert__subtext{
    zoom: 0.8;
    float:left;
    width: 400px;
    height: 14.01px;
    margin-top: -10px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    /* Primary white */

    color: #FFFFFF;
}

.alert__error__text{
    zoom: 0.8;
    float:left;
    width: 300px;
    height: 28.01px;
    margin-top:7px;
    margin-left:0px;

    font-style: normal;
    font-weight: bold;
    font-size: 13.1835px;
    line-height: 16px;


    color: #FFFFFF;
}
