.popUp__input__bypass{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 45px;
    font-weight: bold;
    text-align: left;
    width: 650px;
}
.popUp_input_select__bypass{
    font-size: 18px;
    height: 30px;
    width: 240px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 15px;
}

.popUp__textarea__bypass{
    overflow-y: scroll;
    resize: none;
    width: 300px;
    height: 170px;
    border-radius: 10px 0px 0px 10px;
}

.btn__create__bypass{
    align-items: center;
    color: #FFFFFF;
    width: 120px;
    height: 43px;
    border: 1px solid #338DF1;
    background: #338DF1;
    border-radius: 8px;
}

.btn__create__bypass:hover{
    background-color: #99C6F8;
    color: black;
}

.btn__cancel__bypass{
    align-items: center;
    color: #0070ED;
    width: 120px;
    height: 43px;
    border: 1px solid #0070ED;
    margin-left: 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.btn__cancel__bypass:hover{
    background-color: #99C6F8;
    color: black;
}