.holds__container{
    padding: 20px;
    display: inline-block;
    text-align: center;
}

.holds__row{
    display: flex;
}

.holds__hold__text{
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
}

.holds__description__text{
    font-size: 15px;
    font-weight: 300;
}