.filter__input{
    font-size: 16px; 
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.filter__table{
    position: flex;
    margin-top: -57px;
}

.filter__table_issued{
    position: flex;
    margin-top: -2px;
}

.customTable td{
    font-size: 14px;
  }