.icapp__button{
    font-size: 13px;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
    line-height: 1.6;
    color: #636b6f;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    float: left;
    padding-top: 2px;
    padding-right: 30px;
    list-style-type: none;
}

.icapp__text{
    color: #636b6f;
    font-size: 13.33px;
}

img{
    width: 150px;
    padding-bottom: 0px;
    padding-top: 2px;
    float: left;
}

.icapp__image{
    width: 65px;
    float:left;
    margin-top: 0px;
}

.dropdown__text{
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    font-size: 13.33px;
    font-weight: bold;
}

.dropdown__arrow{
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
}