.icapp__button{
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
    line-height: 1.6;
    color: #636b6f;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    float: left;
    padding-top: 2px;
    padding-right: 30px;
    list-style-type: none;
}

.icapp__text{
    color: #636b6f;
    font-size: 16px;
    padding-top: 16px;
}

img{
    width: 150px;
    padding-bottom: 0px;
    padding-top: 2px;
    float: left;
}

.icapp__image{
    width: 65px;
    float:left;
    margin-top: 0px;
}

.dropdown__text{
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    font-size: 18px;
    font-style: normal;
    transition: 0.3s;
    opacity: 0.8;
    color: white;
}

.dropdown__text:hover{
    opacity: 1;
}

.dropdown__arrow{
    font-size: 9px;
    font-family: 'Quicksand', sans-serif;
}

.dropdown__text__projectname{
    font-family: 'Quicksand', sans-serif;
    text-transform: none;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    
    opacity: 0.8;
    color: #A9E3BB
}

.notifications__container{
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    border: 1px solid rgb(99, 107, 111, 0.3);
    position: absolute;
    z-index: 9999;
    margin-top: 42px;
    width: 300px;
    height: 400px;
    overflow-y:auto
}

.notifications__container::-webkit-scrollbar {
    display: none;
}

.notification__container{
    margin-bottom: 2px;
    word-Wrap: break-word;
    width: 300px;
    background-color: rgb(153, 198, 248, 0.2);
    transition: 0.3s;
    padding-left: 10px;
    padding-right: 10px;
    
}

.notification__container:hover{
    background: rgb(153, 198, 248, 0.5);
}

.markAsReadNotification__button{
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    background-color: hsl(212, 87%, 68%);
    border: none;
}

.deleteNotification__button{
    float: right;
    background: #FF3358;
    font-size: 10px;
    width: 21px;
    height: 21px;
    border-radius: 5px 5px 5px 5px;
    border: none;
}

.notification__text{
    color:black;
    margin-bottom: 10px;
    padding-top: 5px;
}

.notificationPanel__header{
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
}

.notificationHeader__text{
    color:black;
    font-weight: bold;
    font-size: 16px;
}

.markAllAsRead__button{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    height: 32px;
    margin-left: 80px;
}

.notificationTrash__icon{
    width: 16px;
    height: 16px;
    margin-left: -4px;
    margin-top: -1px;
}

.notificationBell__icon{
    width: 35px;
    height: 35px;
}

.emptyNotifications__container{
    text-align: center;
    margin-top: 20px;
}

.emptyNotifications__text{
    color: gray;
    font-size: 16px;
}