.isoTrackerLogo__image2{
    width: 270.57px;
    height: 80.57px;
    margin-top: 110px;
    margin-left: 110px;
}

.roleSelector__containerF{
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
}

.stateTable__containerF{
    float: left;
    margin-top: 120px;
    border-radius: 2em;
    margin-right: 30.5%;
}

.isotracker__row{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.isotracker__column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column1{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.isotracker__table__container{
    width: 92.5%;
    margin-left: 100px;
    margin-top: 45px;
}

.isotracker__table__navBar__container{
    background-color: #0070ed;
    columns: 2;
    height: 60px;
    border-radius: 1em 1em 0em 0em;
    
}

.isotracker__table__navBar{
    color:white;
    border-radius: 1em 1em 0em 0em;
}

.isotracker__table__trays{
    width: 20px;
    height: 400px;
    border-radius: 0em 0em 0em 1em;
    border: 1px solid lightgray;
    top: 0;
    position: sticky;
    float: top;
    padding: 0px 0px 0px 0px;
}

.isotracker__table__table{
    border-radius: 0em 0em 0em 1em;
    border: 1px solid lightgray;
}

.isotracker__table__trays__group{
    font-size: 20px;
    margin-bottom: 4px;

}

.isotracker__table__tray__and__table__container{
    border-radius: 0em 0em 1em 1em;
}

.trays__container{
    width: 200px;
    height: 100%;
    margin-left: 20px;
    margin-top: 25px;
    font-weight: bold;
}

.isotracker__table__table__container{
    margin: 10px 10px 10px 10px;
}

.navBar__icon{
    height: 35px;
    width: auto;
    margin-right: -10px;
    margin-top: 5px;
    margin-left: 5px
}

.navBar__button{
    height: 50px;
    width: 100px;
    border: 0;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 1em 1em 1em 1em;
    transition: 0.3s;
}

.navBar__button:hover{
    background-color:#338DF1;
}

.navBar__button__text{
    font-size: 15px;
    margin-top: 11px;
}

.actionBtns__container{
    margin-top: 30px;
}

.content{
    position: fixed;
    width: 100%;
}

