.ht_master tr td {
    font-size: 20px;
  }

.ht_master tr:nth-child(1) > td:nth-child(3) {
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}

.ht_master tr:nth-child(1) > td:nth-child(2) {
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
  }

.ht_master tr:nth-child(1) > td:nth-child(4) {
    font-weight: bold;
    text-align: center;
    background-color: lightgray;
}