.popUp__container{
    margin-left: 40px;
    margin-right: 40px;
}

.popUp__title{
    margin-top: 20px;
}

.select__container{
    margin-top: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

