.inputFile__container{
    margin-top: 50px;
    margin-bottom: 30px;
}
.popUpP__warning__title{
    margin-top: 50px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: yellow;
    font-weight: bold;
}

.popUpP__warning__subtitle{
    padding-left: 10%;
    padding-right: 10%;
    background-color: yellow;
}

.popUpP__buttons__container{
    margin-top: 30px;
    text-align: center;
}

.dndP__container{
    margin-top: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    height:250px;
}

.popUpP__title{
    margin-top: 20px;
}

.size__input{
    font-size: larger;
}

.btn__accept{
    align-items: center;
    color: #FFFFFF;
    width: 120px;
    height: 43px;
    border: 1px solid #338DF1;
    background: #338DF1;
    border-radius: 8px;
}

.btn__accept:hover{
    background-color: #99C6F8;
    color: black;
}

.btn__deny{
    align-items: center;
    color: #0070ED;
    width: 120px;
    height: 43px;
    border: 1px solid #0070ED;
    margin-left: 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.btn__deny:hover{
    background-color: #99C6F8;
    color: black;
}

.disabled{
    cursor: not-allowed;
    pointer-events: none;
    background-color: lightgray;
    color: white;
    border-color: transparent;
}
