.dataTable__header__text{  
  font-weight : bold;
  margin : auto;
  text-align: center;
}

.dataTable__container{
  position: relative;
}

.dataTable__elements{
  position: absolute;
  bottom: 25;
  left: 0;
}

.claimed__btn{
  font-size: 12px;
  font-weight: bold;
  background-color: green;
}

.pending__btn{
  font-size: 12px;
  font-weight: bold;
  background-color: yellow;
}
